$colorFont: rgb(92, 56, 175);

.DivFooter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $colorFont;
    background-color:rgb(214, 206, 206);
    padding: 20px 0px;
    margin-top: auto;

}